.index-nav {
    padding-left: 100px;
    padding-top: 100px;
    height: max-content;
    /*background-color: #666666*/
}

.padding-top-10 {
    padding-top: 10px;
}

.height-100-\% {
    height: 100%;
}




/*.markdown {*/

/*blockquote {*/
/*    border-left: #eee solid 5px;*/
/*    padding-left: 20px;*/
/*}*/

/*ul li {*/
/*    line-height: 20px;*/
/*}*/

/*code {*/
/*    color: #D34B62;*/
/*    background: #F6F6F6;*/
/*}*/

/*}*/